<label>Name*:<input type="text" name="name" required value="<%= formData.name %>"></label>

<label>Email*:<input type="text" name="email" required value="<%= formData.email %>"></label>

<label>Subject*:<input type="text" name="subject" required value="<%= formData.subject %>"></label>

<label>Message:<br><textarea name="message"><%= formData.message %></textarea></label>