<p class="name">
    <input name="name" type="text" class="feedback-input" required placeholder="Name*" id="name" value="<%= formData.name %>"/>
</p>
<p class="email">
  <input name="email" type="email" required class="feedback-input" id="email" placeholder="Email*" value="<%= formData.email %>"/>
</p>
<p class="subject">
  <input name="subject" type="text" required class="feedback-input" id="subject" placeholder="Subject*" value="<%= formData.subject %>" />
</p>
<p class="message">
  <textarea name="message" class="feedback-input" id="message" placeholder="Message"><%= formData.message %></textarea>
</p>