<div class="brand-div">
    <a href="./">
        <img src="./imgs/general/logo_Lab.png" alt="Lab Icon">
        <div>
            <p>Structure-Property-Processing Group</p>
            <span>Materials Science Center, Indian Institute of Technology Kharagpur, India</span>
        </div>
    </a>
</div>
<nav class="clear-both">
    <a href="./">Home</a>
    <a href="./members">Members</a>

    <div class="hide-this">
        <a href="./members.html#Team">Team</a>
        <a href="./members.html#Alumni">Alumni</a>
    </div>

    <a class="nav-dropdown" href="./research">Research</a>

    <div>
        <a href="./research.html#ongoing-work">Ongoing Work</a>
        <a href="./research.html#featured-work">Featured Work</a>
        <a href="./research.html#funding">Funding and Collaborators</a>
    </div>

    <a href="./facilities">Facilities</a>
    <a href="./refreshment">Refreshment</a>
    <a href="./contact">Contact</a>
</nav>