<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imgs/general_site_imgs/site-icon.ico">
    <title>SPP GROUP</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <header>
        <section id="fixed-to-top">
            <div class="brand-div">
                <a href="./">
                    <img src="./imgs/general_site_imgs/logo_Lab.png" alt="Lab Icon">
                    <div>
                        <p>Structure-Property-Processing Group</p>
                        <span>Materials Science Center, Indian Institute of Technology Kharagpur, India</span>
                    </div>
                </a>
            </div>
            <nav class="clear-both">
                <a href="./">Home</a>
                <a href="./members">Members</a>

                <div class="hide-this">
                    <a href="./members.html#Team">Team</a>
                    <a href="./members.html#Alumni">Alumni</a>
                </div>

                <a class="nav-dropdown" href="./research">Research</a>

                <div>
                    <a href="./research.html#ongoing-work">Ongoing Work</a>
                    <a href="./research.html#featured-work">Featured Work</a>
                    <a href="./research.html#funding">Funding and Collaborators</a>
                </div>

                <a href="./facilities">Facilities</a>
                <a href="#" class="active">Refreshment</a>
                <a href="./contact">Contact</a>
            </nav>
        </section>
        <section class="clear-both heading-sec">
            <h1>Work in Progress</h1>
        </section>
    </header>

    <footer>
        &copy; 2021 by SPP GROUP
    </footer>
</body>

</html>